@import "../../global.scss";
.section-title {
  margin-bottom: 4rem;
  h2 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: $white;
  }

  .title-divider {
    line-height: 2.5rem;
    text-align: center;
    position: relative;

    span:nth-child(1) {
      width: 10rem;
      height: 0.2rem;
      background: $crimson;
      display: inline-block;
      top: 0;
      margin: 0 2rem;
    }

    span:nth-child(4) {
      width: 10rem;
      height: 0.2rem;
      background: $crimson;
      display: inline-block;
      top: 0;
      margin: 0 2.5rem;
    }

    span:nth-child(2) {
      position: absolute;
      width: 0.2rem;
      height: 3rem;
      border-right: 0.5rem dotted $crimson;
      transform: rotate(45deg);
      display: inline-block;
      top: 0;
    }

    span:nth-child(3) {
      position: absolute;
      width: 0.2rem;
      height: 3rem;
      border-right: 0.5rem dotted $crimson;
      transform: rotate(-45deg);
      display: inline-block;
      top: 0;
    }
  }
}
