@import "../../global.scss";
.home {
  .sections > * {
    padding: 5rem 9%;
  }
}

// media quearies
@include device(991px) {
  .home {
    .sections > * {
      padding: 5rem 5%;
    }
  }
}
@include device(800px) {
  .home {
    .sections > * {
      padding: 5rem 3rem;
    }
  }
}
@include device(450px) {
  .home {
    .sections > * {
      padding: 5rem 2rem;
    }
  }
}
