@import "../../../global.scss";

.banner {
  background: url(../../../../public/images/bg.webp) no-repeat center;
  background-size: cover;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7.2rem;
  padding: 0 9%;

  .icons {
    margin-top: -5rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 2rem;
    .icon-container {
      width: 4.5rem;
      height: 4.5rem;
      line-height: 5.5rem;
      text-align: center;
      border-radius: 50%;
      background: $crimson;

      &:nth-child(1) {
        background: #4267b2;
      }

      &:nth-child(2) {
        background: $mixed;
      }

      &:nth-child(3) {
        background: #0a66c2;
      }
      .social-icon {
        color: $white;
        font-size: 2rem;
      }
    }
  }

  h1 {
    color: $white;
    font-size: 5rem;
  }

  h3 {
    color: $white;
    font-size: 3.5rem;
    margin: 3rem 0;
  }
}
