@import "../../global.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: $white;
  display: flex;
  align-items: center;

  span {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Rubik", sans-serif;

    i:nth-child(1) {
      color: $color;
    }
  }

  nav {
    margin-left: 30%;
    .nav-link {
      font-size: 2rem;
      font-weight: 500;
      color: $header-text;
      cursor: pointer;
      margin-left: 2rem;
    }
  }
}
